body {
	background-color: #161819;
	border-radius: 46px;
	font-family: Poppins, Arial, sans-serif;
	color: #FFFFFF;
	max-width: 100%;
}
header {
	margin: auto;
	display: block;
}
.main-navigation {
	display: flex;
	align-items: center;
	padding: 30px 120px;
	gap: 40px;
}
.main-navigation a {
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	text-decoration: none;
	color: #FFFFFF;
}
.site-header {
	font-weight: 600;
	font-size: 48px;
	line-height: 72px;
	letter-spacing: 0.1em;
	text-align: center;
	margin: auto;
}
.site-description {
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	letter-spacing: 0.1em;
	color: #FFFFFF;
	opacity: 0.5;
	margin: 30px auto;
}
main {
	margin: auto;
	padding: 40px 60px;
	max-width: 100%;
}
.search {
	width: 810px;
	height: 64px;
	background: #252728;
	border-radius: 10px;
	margin: auto;
	display: flex;
	justify-content: space-between;
}
.form {
	display: flex;
	flex-direction: row;
	align-content: flex-start;
}
.select {
	padding: 12px 16px;
	gap: 4px;
	position: relative;
	width: 108px;
	height: 50px;
	left: 20px;
	top: 7px;
	background: linear-gradient(99.59deg, #F473A3 3.39%, #FE5661 97.89%);
	border-radius: 10px;
	color: #FFFFFF;
}
.input {
	width: 500px;
	height: 33px;
	left: 50px;
	top: 20.5px;
	position: relative;
	font-weight: 400;
	font-size: 22px;
	line-height: 33px;
	letter-spacing: 0.05em;
	color: #FFFFFF;
	background-color: #252728;
	border: none;
}
.search img {
	margin: 20px;
	left: 92.35%;
	right: 3.95%;
	top: 26.56%;
	bottom: 26.56%;
	background: #252728;
}
.sort {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 80px 0 40px 5px;
	width: 260px;
	justify-content: space-between;
}
.sort a {
	font-weight: 400;
	font-size: 24px;
	line-height: 36px;
	letter-spacing: 0.1em;
	color: #FFFFFF;
	text-decoration: none;
}
.circle {
	background-color: red;
	width: 9px;
	height: 9px;
	border-radius: 5px;
	margin: 0 0 20px -20px;
}
.divider {
	width: 20px;
	height: 0px;
	border: 2px solid rgba(255, 255, 255, 0.25);
	transform: rotate(90deg);
}
.pictures {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
section {
	background: #1F2123;
	border-radius: 24px;
	padding: 30px;
}
.element {
	margin: 10px;
	background: #393A3E;
	border-radius: 24px;
	display: flex;
	align-items: center;
}
.element img {
	margin: auto;
	max-width: 50%;
	padding: 40px;
}
.title {
	text-align: center;
	font-weight: 600;
	font-size: 32px;
	line-height: 48px;
	letter-spacing: 0.05em;
}
.pictures p {
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	text-align: center;
	letter-spacing: 0.05em;
	color: #FFFFFF;
	opacity: 0.6;
}
.pictures a {
	font-weight: 500;
	font-size: 24px;
	line-height: 36px;
	letter-spacing: 0.05em;
	text-decoration-line: underline;
	color: #FFFFFF;
	opacity: 0.5;
	display: flex;	
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding-right: 10px;
}
.download {
	display: flex;
	justify-content: center;
}
footer {
	display: flex;
	flex-direction: row;
	margin: 40 auto;
} 
.next {
	margin: 70px auto;
	background-color: #252728;
	border-radius: 10px;
	width: 242px;
	height: 76px;
	border: none;
	text-align: center;
}
.next a {
	color: #FFFFFF;
	font-weight: 400;
	font-size: 24px;
	line-height: 36px;
	letter-spacing: 0.1em;
	text-decoration: none;
	padding-right: 10px;
}
.pages {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px;
	gap: 12px;
	margin: auto 60px;
	width: 238px;
	height: 34px;
	color: #FFFFFF;
}
.go {
	background-color: #1F2123;
	border: none;
	width: 34px;
	height: 34px;
	border-radius: 6px;
}
.pages a {
	color: #FFFFFF;
	opacity: 0.5;
	text-decoration: none;
}
.current {
	background-color: #393A3E;
	border: none;
	width: 34px;
	height: 34px;
	left: 76px;
	top: 0px;
	border-radius: 6px;
	color: #FFFFFF;
}
.pages p {
	opacity: 0.25;
}